body{
    margin: 0px;
}


.Bannerdiv{
    background-color: rgb(190, 204, 222 );
    color: rgb(75, 75, 75);
    width: 100%;
    height: 65px;
    font-size: 32px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

ul li{
    list-style-type: none; 
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255 );  
}

.Nav{
    width: 100%;
    height: 60px;
    background-color: rgb(49, 49, 50);
    margin-top: -17px;  
}

.Nav ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;   
}

.Main-container{
    background-image: url('../src/img/s2.jpg');
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Footer-div{
    background-color: rgb(49, 49, 50);
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 18px;
}

/* insert css start */

.insert-container{
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    margin: auto;
    padding-left: 200px;
    

}
.btn
{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}






